body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f5f9;
}

/* Tabs de categoría */
.tab-active {
    border-bottom: 3px solid #0038a8;
    color: #0038a8;
    font-weight: 600;
    background-color: #eff6ff;
}

.transition-all-200 {
    transition: all 0.2s ease-in-out;
}
